# Environnement virtuel
ml_env/

# Fichiers de modèle entraînés
*.h5

# Fichiers temporaires Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dossier de données MovieLens
data/
dataa/

# Fichiers VS Code
.vscode/

# Fichiers système Windows
Desktop.ini
Thumbs.db